<div class="container">
    <h1>Listado de Estudiantes</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Legajo</th>
                <th>Materia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of estudiantes">
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.legajo}}</td>
                <td>{{estudiante.materia}}</td>
            </tr>
        </tbody>
    </table>
</div>
